# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# misc
.DS_Store
*.pem
__snapshots__
@generated
node_modules
.idea/
# all node modules nested in the project
**/node_modules
# all .env files
.env
#all nested .env files
**/.env
# all nested python poetry files
**/.venv

# all session files
**/.session
# all secrets like service-account.json
service-account.json
**/service-account.json

# all media folders
**/media
